
.team-image-alt{
    height: 200px;
    width: 800px;
    border-radius: 20px;
}

.team-image-alt1{
    height: 200px;
    width: auto;
    border-radius: 20px;
}

.team-image{
    display: flex;
    justify-content: space-evenly;
}

.semi-content{
    text-align: justify;
}

.semi-content1{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    /* border: 1px solid black; */
    margin-left: 30px;
    padding-top: 40px;
    text-align: justify;
}

.semi-content2{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    /* border: 1px solid black; */
    margin-left: 30px;
    padding-top: 60px;
    text-align: justify;
}

.semi-key-points-content{
    text-align: justify;
}

.semi-content3{
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
    /* border: 1px solid black; */
    margin-left: 30px;
    padding-top: 60px;
    text-align: justify;
}