.semi-header{
    justify-content: center;
    align-items: center;
    text-align: center;
}

.semi-custom-heading{
    border: 1px solid #06c633;
    background-color: #06c633;
    align-items: center;
    text-align: center;
    color: #fff;
    font-family: 'Kaisei HarunoUmi', serif;
    font-size: 30px;
    border: 1px solid #06c633;
    background-color: #06c633;
    color: #fff;
    width: 80%;
    margin-left: 150px;
    border-radius: 10px;
    padding: 22px;
    font-family: 'Kaisei HarunoUmi', serif;
}

.semi-custom-para{
    /* border: 1px solid black; */
    width: 80%;
    font-size: 20px;
    margin-left: 150px;
    line-height: 30px;
    font-family: 'Montserrat', sans-serif;
}

.full-custom-desc-full{
    /* border: 1px solid black; */
    padding: 20px;
    height: 500px;
    width: 80%;
    align-items: center;
    margin-left: 150px;
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 10px;
    column-gap: 20px;
}

.semi-custom-desc1{
    border: 1px solid black;
    height: 200px;
    width: 370px;
    padding: 10px;
    border-radius: 20px;
    align-items: center;
    text-align: center;
    justify-content: center;
    
}





.semi-head-bold{
    font-family: 'Montserrat', sans-serif;
    
    
}






.semi-custom-position{
    margin-top: 80px;
    text-align: center;
}

.semi-custom-position1{
    margin-top: 90px;
    text-align: center;
}

/* hover contents */

.semi-custom-desc1:hover {
    transform: scale(1.0);
    cursor: pointer; /* Add a scaling effect on hover */
  }

.hover-content {
    display: none; /* Initially hide the hover content */
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background */
    flex-direction: column;
    justify-content: center;
    opacity: 0;
    align-items: center;
    color: #fff; /* Text color */
    padding: 20px; /* Adjust padding as needed */
    text-align: center;
    border-radius: 20px;
}

.semi-custom-desc1:hover .hover-content {
    display: flex; /* Show the hover content on box hover */
    opacity: 1;
    background-color: rgba(0, 0, 0, 0.7);
    color: #fff;
}

.semi-custom-desc1:hover .semi-head-bold {
    display: none;
}

.semi-custom-hover{
    font-family: 'Montserrat', sans-serif;
}

.hover-content:hover > *{
    transform: translateY(-25px);
    transition: transform 0.6s;
    margin-top: 40px;
}

