@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0');


.logo{
    text-align: center;
    font-family: 'Open Sans', sans-serif;

}

.mainContainer{
    margin: 10px;
    margin-top: 40px;
    /* border: 1px solid black; */
}

.mainContainer .container11{
    padding: 20px 0;
}

.mainContainer .container11 img{
    height: 100px;
    width: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 50px;
    text-align: center;
    

}

.top{
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    height: 450px;
    /* border: 1px solid black; */
}
.full1{
    /* display: flex; */
    /* margin-right: 200px; */
    /* border: 1px solid black; */
    text-align: center;
}

.client-head{
    font-size: 30px;
    font-weight: lighter;
    /* margin-left: 240px;
    margin-top: 27px;
    padding-right: 5px; */
    border: 1px solid #06c633;
    color: #fff;
    width: 99%;
    margin-left: 10px;
    background-color: #06c633;
    border-radius: 10px;
    padding: 22px;
    font-family: 'Kaisei HarunoUmi', serif;

    
}

.img-changer{
    margin-left: 40px;
}



.more6{
    font-size: 14px;
    border: none;
    padding: 10px;
    background-color: white;
    position: relative;
    float: right;
    /* border: 1px solid black; */
}

.more6:hover{
    cursor: pointer;
    color: #06c633;
    transition: .5s ease-out;
}
.material-symbols-outlined{
    float: right;
}

.container11 img{
    object-fit: contain;
}