

.contact-below{
    margin: 0;
    padding: 30px;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    background: rgb(6,198,51);
    background: linear-gradient(90deg, rgba(6,198,51,1) 17.5%, rgba(255,255,255,1) 0%, rgba(255,255,255,1) 100%);
    /* border-top: 1px solid #06c633; */
    

}

.about-us{
    margin-left: 10px;  
}


.imagesize-change{
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    border: 1px solid #fff;
    margin-top: 8px;
    /* outline: 10px solid #fff; */   
}

.about-us-head{
    font-size: 16px;
    font-family: 'Kaisei HarunoUmi', serif;
}



.list-items{
    font-size: 14px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-weight: lighter;
}

.list-items1{
    font-size: 14px;
    font-family: 'Kaisei HarunoUmi', serif;
    font-weight: lighter;
    margin-right: 150px;
}

.contact-services{
    margin-right: 50px;
    /* border: 1px solid black; */
}

.list-items:hover{
    color: #06c633;
    transition: 0.5s ease;
}