@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');



.dropdown-menu{
    width: 117px;
    position: absolute;
    top: 50px;
    list-style: none;
    text-align: center;
}

.dropdown-menu li{
    background: #ffffff;
    cursor: pointer;
    padding: 2px;
    
}

.dropdown-menu li:hover{
    background: #f8faf9;
}

.dropdown-menu.clicked{
    display: none;
}



.dropdown-menu1{
    width: 250px;
    position: absolute;
    top: 20%;
    list-style: none;
    text-align: center;
}
.dropdown-menu1 li{
    background: #ffffff;
    width: 297.5px;
    margin-left: px;
    cursor: pointer;
}

.dropdown-menu1 li:hover{
    background: #ffffff;
    transition: all 3s ease;
}


/* .dropdown-menu1.clicked{
    display: none;
} */


.dropdown-link{
    display: block;
    width: 100%;
    height: 100%;
    text-decoration: none;
    color: black;
    padding: 16px;
    font-family: 'Open Sans', sans-serif;
}


.dropdown-link:hover{
    color: #06c633;
}


.dropdown-menu:hover .nav-links{
    transition-duration: all 0.5s ease;
}



