@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");


.container{
  background-image:url("backing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: bottom;
  height: 650px;
}

.background-image{
  display: flex;
  flex-direction: column;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  height: 500px; 
}

.topic{
  color: #fff;
  /* border: 2px solid white; */
  margin-top: 150px;
  font-size: 35px;
  float: left;
  font-family: 'Kaisei HarunoUmi', serif;
  padding-left: 55px;
}



.content{
  color: #fff;
  float: left;
  margin-top: 20px;
  padding-left: 55px;
  font-weight: lighter;
  font-size: 25px;
  width: auto;
  /*border: 2px solid white;*/
  font-family: 'Kaisei HarunoUmi', serif;
}



