

.car-head{
    text-align: center;
    align-items: center;
}

.car-head1{
    font-weight: lighter;
    font-size: 30px;
    border: 1px solid #06c633;
    background-color: #06c633;
    width: 78%;
    color: #fff;
    margin-left: 160px;
    border-radius: 10px;
    padding: 22px;
    font-family: 'Kaisei HarunoUmi', serif;
}


.full-car{
    display: flex;
    /* border: 1px solid black; */
    margin: 10px;
    text-align: justify;
    height: 400px;
    margin-left: 60px;
}

.img-car{
    height: 350px;
    width: 450px;
    /* border: 1px solid black; */
    margin-left: 70px;
}
.img-car1{
    height: 250px;
    width: 350px;
    align-items: center;
    margin: 50px;
    border-radius: 10px;

}

.uni-content{
    /* border: 1px solid black; */
    margin-left: 150px;
    font-size: 20px;
    width:620px;
    font-family: 'Montserrat', sans-serif;
    line-height: 30px;
    text-align: justify;
}
.uni-content1{
    /* border: 1px solid black; */
    margin-top: 80px;
    width:650px;
    margin-left: 10px;
    /* border: 1px solid black; */
    font-family: 'Montserrat', sans-serif;
    
}
.car-btn1{
    align-items: center;
    border: none;
    background-color: #fff;
    font-size: 14px;
    float: left;
    margin-top: 30px;
    font-family: 'Montserrat', sans-serif;
}

.car-btn1:hover{
    color: #06c633;
    transition: .5s ease-out;
    cursor: pointer;
}

.car-link{
    position: relative;
}

.right-arrow-car{
    position: relative;
    color: #fff;
}

.right-arrow-car:hover{
    color: #06c633;
    transition: .5s ease-out;
}